{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Plan Event: Step 1</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-12">{{ form.name.label_tag }} {{ form.name }}</div>
                        <div class="col-md-10">
                            {{ form.customer.label_tag }}
                            {{ form.customer }}
                        </div>
                        <div class="col-md-2 d-flex align-items-end">
                            <a href="{% url 'customer_create' %}" class="btn btn-outline-primary w-100" target="_blank" title="Add New Customer"><i class="bi bi-person-plus"></i></a>
                        </div>
                        <div class="col-md-6">{{ form.date.label_tag }} {{ form.date }}</div>
                        <div class="col-md-6">{{ form.guest_count.label_tag }} {{ form.guest_count }}</div>
                        <div class="col-md-6">{{ form.event_type.label_tag }} {{ form.event_type }}</div>
                        <div class="col-md-6">{{ form.location.label_tag }} {{ form.location }}</div>
                        <div class="col-md-6">{{ form.budget.label_tag }} {{ form.budget }}</div>
                        <div class="col-md-6">{{ form.deposit_amount.label_tag }} {{ form.deposit_amount }}</div>
                        <div class="col-12">{{ form.description.label_tag }} {{ form.description }}</div>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-primary">Next: Select Decor <i class="bi bi-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
